name: Create package on release

on:
  workflow_dispatch:
  push:
    tags:
     - v**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Java 18
        uses: actions/setup-java@v1
        with:
          java-version: 18
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Build with Maven
        run: mvn -e -B package --file pom.xml

      - name: Publish to GitHub Packages Apache Maven
        run: mvn -e deploy -s $GITHUB_WORKSPACE/settings.xml
        env:
          GITHUB_TOKEN: ${{ github.token }}
